.home-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;  
  background-image: linear-gradient(#0d3b1f, #2c743e);
  position: relative;
}

.home-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;  
  background-color: #0d3b1f;
  position: relative;
}

.home-info-text{
  text-align: center;
  margin-bottom: 0px;
  position: absolute;
  font-size: 13px;
  color:#ffffff; 
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.425);
}

.column1{
  --bs-gutter-x: 0;
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
}

.row1{
  height: 300px;
  background-image: linear-gradient(#111111, #251b1f);
  position: relative;
}

.row2{
  height: 500px;
  background-image: linear-gradient(#251b1f, #111111);
  position: relative;
}

.home-img{
  object-fit:cover;
  min-height: 300px;  
  width: 100%;  
  min-width: 300px;
}

.home-title{
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 35px;
  color:#ffffff; 
  text-shadow: 7px 6px 8px rgba(0, 0, 0, 0.425);
}

.home-desc{
  padding: 10px;
  text-align: left;
  position: absolute;
  margin-top: 40px;
  margin-right: 11vw;
  font-size: 15px;
  color:#ffffff; 
  border-left: 5px solid #0d3b1f;
}

.desc-img{
  object-fit:cover;
  position: absolute;
  margin-top: 40px;
  padding-left: 40px;
  align-self: right;
  right: 0;
  padding: 10px;
  width: 80%;
  min-width: 130px;
  max-width: 300px;
  max-height: 300px;
  border-right: 5px solid #2c743e;
}
